body{
    margin: 0;
    padding: 0;
}
.circle-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover ;
    margin-left: 50px;
    padding-bottom: 30px;
    margin-top:5px;
}

ul{
    list-style: none;
    display: flex;
    gap: 100px;
    margin-right:130px;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header { display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

 .header-links{display: flex;
 }

.head {display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;  
}

.gif{width: 400px;
    display:block;
    margin-left: auto;
margin-top:-150px;
margin-bottom:20px;}

.randwrd{
    margin-left: 50px;
    color: white;
   padding: 0;
 }

 .headword {
    margin-left: 50px;
    color: white;
    font-size:50px;
    padding: 0;
 }

.head-button{display: flex;
    margin-left:300px ;
    width: 100px;
    padding:10px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
}

.member-text{display: flex;
justify-content: center;
align-items: center;
font-weight: bolder;
color:#1F2937;
font-size:32px;
margin-bottom: 10px;
margin-top: 10px;}

.members{display: flex;
justify-content: center;
align-items: center;
gap: 150px;
margin-bottom: 10px;

}

.animals{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid skyblue;
}
.article {
    height: 100px;
    display: flex;
    background-color:#E5E7EB ;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    padding:50px;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
figcaption{display: flex;
justify-content: center;
flex-wrap: wrap;}

.sign-up{display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #3882F6;
    padding: 50px;
    color: #E5E7EB;
    margin-bottom: 20px;
    
}
.bottom-sign-up-button{display: flex;
    margin-left:auto;
    margin-right:100px ;
    width: 100px;
    padding:10px;
    
    justify-content: center;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
border:2px solid #E5E7EB ;
transform: translateY(-30px);}

.paren {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-wrd-top {margin: 0;
    padding-bottom:20px ;
color: #E5E7EB;
font-weight: bolder;
}

.bottom-wrd{margin: 0;
color: #E5E7EB;
}

 .footer {height:14px;
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    justify-content: center;
    align-items: center;
    color: white;
 }